@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.switch {
  padding-top: 20px;
}

.container {
  padding-bottom: 50px;
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 0;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}

.page-title {
  font-size: 3.2rem;
  margin-bottom: 50px;
  margin-top: 50px;
}

.links {
  margin: 0 auto;
  width: 250px;
  display: inline-flex;
  justify-content: center;
  max-width: 600px;
}

.link {
  list-style: none;
  text-decoration: none;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.link:hover {
  opacity: 0.7;
}

.project-card {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-title {
  margin-top: 20px;
}

.project-title:hover {
  opacity: 0.7;
}

.project-description {
  margin-bottom: 30px;
  margin-top: 20px;
}

.project-link {
  list-style: none;
  padding: 0 4%;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
  cursor: pointer;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.project-link:hover {
  opacity: 0.7;
}

.project-image {
  width: 100%;
  height: auto;
  /* Magic! */
  max-width: 50vw;
}

.icon {
  height: 35px;
  width: 35px;
}

.github {
  font-size: 32px;
  color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.card-title:hover {
  opacity: 0.7;
}

.card-image {
  height: 3rem;
}

footer {
  padding-bottom: 1%;
}

.footer-text {
  font-size: 1rem;
  padding-bottom: 20px;
}

.footer-text:hover {
  opacity: 0.6;
}

#dark {
  background-color: #333;
  color: #fff;
}

#light {
  background-color: #fff;
  color: #333;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

html {
  visibility: visible;
  opacity: 1;
}
